<div class="container">
  <h2>Users</h2>
 <div class="table-responsive">     
  <table style="height: 500px;" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Password</th>
        <th>Admin</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of pageOfItems; let i = index">
        <td>{{i + 1}}</td>
        <td ><div (dblclick)="user.change = true; changeObject = user;" *ngIf="!user.change">{{user.name}}</div><div><input  (keyup.enter)="saveNewObj(i,$event);" *ngIf="user.change" [(ngModel)]="changeObject.name" type="text" value="{{changeObject.name}}"></div></td>
        <td>{{user.password}}</td>
        <td><div (dblclick)="user.change = true; changeObject = user;" *ngIf="!user.change">{{user.admin}}</div><div><input  (keyup.enter)="saveNewObj(i,$event);" *ngIf="user.change" [(ngModel)]="changeObject.admin" type="text" value="{{changeObject.admin}}"></div></td>
        <td><button type="button" [swal]="deleteSwal"  class="btn btn-danger">Delete</button></td>
        <swal
            #deleteSwal
            title="Delete {{user.name}}?"
            text="This cannot be undone"
            type="question"
            [showCancelButton]="true"
            [focusCancel]="true"
            (confirm)="delete(user._id)">
        </swal>
      </tr>
    </tbody>
  </table>
  <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-3">
            <jw-pagination style="margin: auto;" [items]="items" [initialPage]="1" [pageSize]="10" (changePage)="onChangePage($event)"></jw-pagination>   
          </div>
      </div>
    </div>    
</div>  
</div>


