<div class="main">
    <img class="logo" src="https://blackrockdigital.github.io/startbootstrap-freelancer/img/profile.png" alt="">
    <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3 name">Online Store</div>
        </div>
        <hr class="star-light">
    </div>
  </div>
  <div class="content">
    <h1>Online Store</h1>
    <hr class="star-dark">
    <div class="container">
      <div class="row image">
        <div class="col-md-4" style="color: black;"><img src="../../../assets/image/product_lg_type.jpg" alt=""></div>
        <div class="col-md-4" style="color: black;"><img src="../../../assets/image/product_lg_type.jpg" alt=""></div>
        <div class="col-md-4" style="color: black;"><img src="../../../assets/image/product_lg_type.jpg" alt=""></div>
      </div>
      <div class="row image">
        <div class="col-md-4" style="color: black;"><img src="../../../assets/image/product_lg_type.jpg" alt=""></div>
        <div class="col-md-4" style="color: black;"><img src="../../../assets/image/product_lg_type.jpg" alt=""></div>
        <div class="col-md-4" style="color: black;"><img src="../../../assets/image/product_lg_type.jpg" alt=""></div>
      </div>

    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3 name about">About</div>
        </div>
        <hr class="star-light">
        <div class="row info">
          <div class="col-md-4 offset-md-2">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</div>
          <div class="col-md-4">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</div>
        </div>
        <div class="button">
          <button><i class="fas fa-download"></i> Download now!</button>
        </div>
    </div>
  </div>
  <div class="contact">
    <h1>CONTACT ME</h1>
    <hr class="star-dark">
    <div class="container">
      <div class="row">
          <form action="#" class="col-md-4 offset-md-3 form">
              <input type="text" id="name" name="name" placeholder="Name">
              <input type="text" id="name" name="name" placeholder="Email Address">
              <input type="text" id="name" name="name" placeholder="Phone Number">
              <textarea name="message" class="message" id="message" cols="30" rows="5" placeholder="Message"></textarea>
            <button type="submit" class="submit">Send</button>
            </form>
      </div>
  </div>
  </div>
  <div class="foter">
    <div class="container">
      <div class="row">
        <div class="col-md-4 head">LOCATION</div>
        <div class="col-md-4 head">AROUND THE WEB</div>
        <div class="col-md-4 head">ABOUT FREELANCER</div>
      </div>
      <div class="row">
          <div class="col-md-4  foterText">2215 John Daniel Drive <br> Clark, MO 65243</div>
          <div class="col-md-4 icon"><i class="fab fa-facebook-f"></i><i class="fab fa-google"></i><i class="fab fa-twitter"></i><i class="fab fa-linkedin-in"></i></div>
          <div class="col-md-4 foterText">Freelance is a free to use, open source Bootstrap theme created by Start Bootstrap.</div>
        </div>
    </div>
  </div>
<div class="lastFoter">
  <p>Created by ©Dema2018</p>
</div>